<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
</head>
<body>
    <h1 th:text="|Page ${user.getLastName()} ${user.getName()}|">User Page</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>LASTNAME</th>
            <th>AGE</th>
            <th>PROFESSION</th>
        </tr>
        <tr>
            <td>
                <a th:href="@{/users/{id}(id=${user.getId()})}" th:text="${user.getId()}">userID</a>
            </td>
            <td>
                <a th:text="${user.getName()}">userName</a>
            </td>
            <td>
                <a th:text="${user.getLastName()}">userLastName</a>
            </td>
            <td>
                <a th:text="${user.getAge()}">userAge</a>
            </td>
            <td>
                <a th:text="${user.getProfession()}">userProfession</a>
            </td>
        </tr>
    </table>
    <br />
    <a th:href="@{/users/{id}/edit(id=${user.getId()})}">EDIT USER</a>
    <br />
    <form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
        <input type="submit" value="DELETE">
    </form>
    <br />
    <a href="/users">ALL USERS</a>
</body>
</html>